xsd/hotel/MeetingsAndEvents/MEFeatures.xsd

<?xml version = "1.0" encoding= "UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation = "../general/TextTitle.xsd"/>
	<xs:include schemaLocation = "../keywords/keyMEFeatures.xsd"/>
<xs:element name = "MEFeatures">
<xs:complexType>
	<xs:sequence>
<xs:element name = "General">
<xs:complexType>
	<xs:sequence>
		<xs:element name="text" type= "TextTitle" minOccurs="0" />
		<xs:element name="meetingFeature" type= "keyMEFeatures" minOccurs="0"  maxOccurs="unbounded" />
	</xs:sequence>
</xs:complexType>
</xs:element>
	</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>