xsd/hotel/MeetingsAndEvents/MultimediaText2Columns.xsd

<?xml version = "1.0" encoding= "UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation = "../general/TextMultimedia.xsd"/>
<xs:element name = "MultimediaText2Columns">
<xs:complexType>
	<xs:sequence>
<xs:element name = "General">
<xs:complexType>
	<xs:sequence>
		<xs:element name="columnList" type= "TextMultimedia" minOccurs="0"  maxOccurs="unbounded" />
	</xs:sequence>
</xs:complexType>
</xs:element>
	</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>