xsd/hotel/general/ContactInfo.xsd

<?xml version = "1.0" encoding= "UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:complexType name = "ContactInfo">
	<xs:sequence>
<xs:element name = "General">
<xs:complexType>
	<xs:sequence>
		<xs:element name="address" type= "xs:string" minOccurs="0" />
		<xs:element name="zip" type= "xs:string" minOccurs="0" />
		<xs:element name="phone" type= "xs:string" minOccurs="0" />
		<xs:element name="email" type= "xs:string" minOccurs="0" />
	</xs:sequence>
</xs:complexType>
</xs:element>
	</xs:sequence>
</xs:complexType>
</xs:schema>