xsd/hotel/general/EmailByCountry.xsd

<?xml version = "1.0" encoding= "UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation = "../keywords/keyCountry.xsd"/>
<xs:complexType name = "EmailByCountry">
	<xs:sequence>
<xs:element name = "General">
<xs:complexType>
	<xs:sequence>
		<xs:element name="country" type= "keyCountry" minOccurs="0" />
		<xs:element name="email" type= "xs:string" minOccurs="0" />
	</xs:sequence>
</xs:complexType>
</xs:element>
	</xs:sequence>
</xs:complexType>
</xs:schema>