xsd/hotel/general/Tab.xsd

<?xml version = "1.0" encoding= "UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation = "../general/TextTitle.xsd"/>
<xs:complexType name = "Tab">
	<xs:sequence>
<xs:element name = "General">
<xs:complexType>
	<xs:sequence>
		<xs:element name="image" type= "xs:string" minOccurs="0" />
		<xs:element name="title" type= "TextTitle" minOccurs="0" />
		<xs:element name="seo" type= "xs:string" minOccurs="0" />
		<xs:element name="externalUrl" type= "xs:string" minOccurs="0" />
	</xs:sequence>
</xs:complexType>
</xs:element>
	</xs:sequence>
</xs:complexType>
</xs:schema>