xsd/hotel/general/TextMultimedia.xsd

<?xml version = "1.0" encoding= "UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation = "../general/TextTitleDescription.xsd"/>
<xs:complexType name = "TextMultimedia">
	<xs:sequence>
<xs:element name = "General">
<xs:complexType>
	<xs:sequence>
		<xs:element name="text" type= "TextTitleDescription" minOccurs="0" />
		<xs:element name="multimedia" type= "xs:string" minOccurs="0" />
	</xs:sequence>
</xs:complexType>
</xs:element>
	</xs:sequence>
</xs:complexType>
</xs:schema>