xsd/hotel/general/TwitterMetas.xsd

<?xml version = "1.0" encoding= "UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
<xs:complexType name = "TwitterMetas">
	<xs:sequence>
<xs:element name = "General">
<xs:complexType>
	<xs:sequence>
		<xs:element name="summary" type= "xs:string" minOccurs="0" />
		<xs:element name="site" type= "xs:string" minOccurs="0" />
		<xs:element name="title" type= "xs:string" minOccurs="0" />
		<xs:element name="description" type= "xs:string" minOccurs="0" />
		<xs:element name="image" type= "xs:string" minOccurs="0" />
	</xs:sequence>
</xs:complexType>
</xs:element>
	</xs:sequence>
</xs:complexType>
</xs:schema>