xsd/hotel/AllRestaurants/Tabs.xsd

<?xml version = "1.0" encoding= "UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:include schemaLocation = "../general/Tab.xsd"/>
<xs:element name = "Tabs">
<xs:complexType>
	<xs:sequence>
<xs:element name = "General">
<xs:complexType>
	<xs:sequence>
		<xs:element name="list" type= "Tab" minOccurs="0"  maxOccurs="unbounded" />
	</xs:sequence>
</xs:complexType>
</xs:element>
	</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>